
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    {% block home_block_reference %}
		<h2 style="	width: 50%; margin: 0 auto;">Books</h2>
        <div class="search">
			<form method="GET">
				<input type="checkbox" name="show_available" {{ available }}><label for="show_available">Display only books available for check out</label><br>
				<input type="checkbox" name="show_mine" {{ mine }}><label for="show_mine">Display only my checked out books</label><br>
				{% if query %}
					<input type="search" class="searchbar" name="search" value={{ query }} size="40">
				{% else %}
					<input type="search" class="searchbar" name="search" placeholder="Search by title or author..." size="40">
				{% endif %}
				<button type="submit">Search</button>
			</form>
        </div>
        <div class="books">
            {% for book in books %}
            <div class="book">
                <div class="book-title">
                    <h4>{{ book.title }}</h4>
                </div>
                <div class="book-info">
                    <p class="book-image"></p>
                    <p class="book-author">by <b>{{ book.author }}</b></p>
                    <p class="book-summary"><i>{{ book.summary }}</i></p>
                </div>
                <div class="book-actions">
                    {% if book in current_user.books %}
                        {% if book.isOverdue() %}
                            <p><a class="book-action" href={{url_for('payFine', id=book.id)}}>Pay Fine</a>
							Pay the overdue fine before checking in or renewing. Amount due: ${{ book.checkFine() }}.00.</p>
                        {% else %}
                            <p><a class="book-action" href={{url_for('checkIn', id=book.id)}}>Check In</a>
                            <a class="book-action" href={{url_for('renew', id=book.id)}}>Renew</a>
							Due: {{ book.due.strftime("%B %d, %Y") }}</p>
                        {% endif %}
                    {% else %}
						{% if book.borrower %}
							<p><a class="book-action" href={{url_for('checkOut', id=book.id)}} style="pointer-events: none !important; cursor: default; color:Gray;">Check Out</a>
							Unavailable.</p>
						{% else %}
							<p><a class="book-action" href={{url_for('checkOut', id=book.id)}}>Check Out</a>
							Available.</p>
						{% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>