<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
</head>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content={{description}}>
</head>

<body>
    <!-- All pages will have a header with links to navigate between pages.  -->
    {% include 'navigation.html' %}

	<!-- Display any messages and errors passed in. -->
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% if error %}
		<p>Error: {{ error }}</p>
	{% endif %}

    <!-- Each jinja block will inherit this layout and show it's own content.  -->
	{% include template %}
	
</body>

</html>