<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
</head>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content={{description}}>
</head>
<body>

    <!-- Create condition block when the user is logging in vs register. -->
	{% block registration_form_block_reference %}{% endblock %}
	{% block login_form_block_reference %}{% endblock %}
	{#    {% block change_password_form_block_reference %}{% endblock %}	#}

</body>
</html>