<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
    {% extends 'layout-forms.html' %}

    {% block registration_form_block_reference %}
		<h1>Register</h1>
		{% if error %}
			<p><strong>Error:</strong> {{ error }}
		{% endif %}
		<div class="container">
			<!-- Use this to see what the form will get. <form method="get"> -->
			<form action="{{ url_for('register') }}" method="post" enctype="application/x-www-form-urlencoded">
				<div>
					<label for="username">Username</label>
					<input type="text" name="username" required>
				</div>
				<div>
					<label for="password">Password</label>
					<input type="password" name="password" required>
				</div>
				<div>
					<label for="verify_password">Verify Password</label>
					<input type="password" name="verify_password" required>
				</div>
				<div>
					<input type="submit" class="submit" value="Register">
				</div>
			</form>
		</div>
    {% endblock %}
</body>
</html>